:root {
    --nav-width: 12rem;
    --nav-base-colour: #000000;
    --nav-selected-colour: #b0b0b0;
    --post-colour: #232323;
    --main-width: 80%;
    --post-text-colour: #d5d5d5;
    --post-header-colour: #303030;
}

nav {
    background-color: var(--nav-base-colour);
    width: var(--nav-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    border-right: var(--nav-selected-colour);
    border-width: 1px;
    border-style: solid;
}

body {
    margin: 0rem;
    background-color: #000000;
    color: var(--nav-selected-colour);
    display: flex;
    flex-direction: row;
}

.nav-element {
    display: block;
    margin: 0rem;
    padding: 0.625rem;
}

@keyframes fade {
    from {background-color: var(--nav-selected-colour); color: var(--nav-base-colour);}
    to {background-color: var(--nav-base-colour); color: var(--nav-selected-colour);}
}

.nav-button {
    background-color: var(--nav-base-colour);
    color: var(--nav-selected-colour);
}

.nav-button:hover {
    background-color: var(--nav-selected-colour);
    color: var(--nav-base-colour);
}

.nav-button:not(:hover) {
    animation-name: fade;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-title {
    font-family: cursive;
    text-decoration: underline;
    color: var(--nav-selected-colour);
    margin: 1rem;
    align-self: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: var(--nav-width);
    margin-top: 1rem;
}

#post-content {
    width: var(--main-width);
    height: var(--main-width);
    resize: vertical;
    border-width: 0rem;
    outline: none;
    background-color: #000000;
    color: var(--nav-selected-colour);
}

.post-title {
    width: var(--main-width);
    background-color: #000000;
    color: var(--nav-selected-colour);
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin: 0.3rem;
    font-family: monospace;
}

.new-post-content {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin-left: var(--nav-width);
}

.new-post-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: var(--main-width);
    height: fit-content;
    background-color: var(--post-colour);
    color: var(--post-text-colour);
    text-align: center;
    margin: 0.5rem;
    padding-bottom: 0.6rem;
    cursor: pointer;
    font-size: 1.2rem;
    overflow: hidden;
}

.post-header {
    font-size: 1rem;
    background-color: var(--post-header-colour);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem;
}

.post-body {
    padding: 0.75rem;
}

.big-post {
    background-color: var(--post-colour);
    color: var(--post-text-colour);
    width: var(--main-width);
    height: 100%;
    margin: 3rem;
}

.big-post-title {
    background-color: var(--post-header-colour);
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.big-post-info {
    background-color: #292929;
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    justify-content: space-between;
}

.big-post-content {
    background-color: var(--post-colour);
    height: fit-content;
    padding: 0.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem
}